@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap');

html, body, p, a, table, ul, li, label, div, h1, h2, h3, h4 {
	font-family: Open Sans!important;
}

p {
	color: #212529;
}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: rgba(255, 255, 255, 0.82);
}

.header {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

.breadcrumb{
	display: flex;
	flex-wrap: wrap;
	padding: .75rem 0;
	margin-bottom: 0;
	list-style: none;
	background-color: transparent;
	border-radius: .375rem;
}
