@CHARSET "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap');

html, body, p, a, table, ul, li, label, div, h1, h2, h3, h4 {
	font-family: Open Sans!important;
}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: rgba(255, 255, 255, 0.82);
}
