@CHARSET "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap');

html, body, p, a, table, ul, li, label, div, h1, h2, h3, h4 {
	font-family: Open Sans!important;
}

table tr td, table tr th {
	word-wrap: break-word;
}

table thead tr th {
	cursor: pointer;
}

.form-signin{
	width: 100%;
	max-width: 420px;
	padding: 15px;
	margin: 0 auto;
}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: rgba(255, 255, 255, 0.82);
}

table i {
	color: #5b819f;
	transition: 0.1s;
}

table i:focus, table i:hover {
	color: #7ea1c8;
	transition: 0.1s;
}

/* BOOTSTRAP REFACT */

.form-control {
	border: 1px solid #d2ddec;
	color: #12263f;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control:focus {
    color: #12263f;
    border-color: #9cafc1;
    outline: 0;
    box-shadow: none;
}
